@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.pokedex {
  width: 100%;
  max-width: 425px;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333
}
.types {
  gap: 130px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  height: 5%;
  transform: translate(-60%, -220%);
  display: flex;
}

.type {
  height: 130%;
  padding: 4%;
  
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}


/* COLORS FOR TYPES */


.icon1 img {
  height: 60%;
  width: 60%;
  margin: 20%;
  scale: 1.8;
}
.icon2 img {
  height: 60%;
  width: 60%;
  margin: 20%;
  scale: 1.8;
}
.types div{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  padding: .4rem
}
.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}